body{
	width: 800px;
}

header#title {
	background: black;
	height: 60px;
}

header#nav {
	background: black;
	height: 30px;
	width: 650px;
	padding-left:150px;
}

h1 {
	color: yellow;
	padding: 10px 0px 10px 30px;
}

ul {
	background: black;
	height: 30px;

}

li {
	display: inline;
	color: white;
	margin: 20px 10px 0px 10px;
}

#yellowBand {
	height: 5px;
	background: yellow;
}

section#greyBand {
	background: grey;
	height: 50px;
}	
h2 {
	font-style: italic;
	padding: 10px 0px 10px 0px;
	text-align: center;
}

main {
	background-image: url("images/coworking.jpg");
	background-size: 800px;
	height: 500px;
}

section#opaque {
	background: rgba(255,255,255,0.7);
	width: 200px;
	height: 250px;
	float: right;
	padding: 20px;
	margin: 20px;
	border: solid grey;
	border-width: 1px;
}










